<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <p>Registration page</p>
    <form action="register" method="POST">
        {% csrf_token %}
        First Name:<input type="text" name="first_name"><br>
        Last Name:<input type="text" name="last_name"><br>
        Username:<input type="text" name="username"><br>
        E-mail:<input type="email" name="email"><br>
        Password:<input type="password" name="password1"><br>
        Confirm Password:<input type="password" name="password2"><br>
        <input type="submit">

    </form>
<div>
    {% for message in messages %}
    <h3>
        {{message}}
    </h3>
    {% endfor %}
</div>
</body>
</html>